*{
  margin: 0;
  padding: 0;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.header{
  background-image: url(Assets/Hero-bg.png);
}
/* Nav Section Style  */

nav{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
  align-items: center;
  text-align: center;
}

nav ul li{
  list-style: none;
  margin-top: 50px;
}

.nav-title{
  font-size: 34px;
  font-weight: 900;
  color: #4E47FF;
  margin-top: 50px;
  font-family: Inter;
  cursor: pointer;

}

/* Share Styles  */

.btn-primary{
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
  background-color: #4E47FF;
  border: none;
  cursor: pointer;
}

.btn-primary:hover{
  background-color: #8987A1 ;
}

/* Banner Style  */

.banner{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 160px 270px 160px 300px;
}

.banner-title{
  max-width: 60%;
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  margin: 0px auto 37px;
}

.banner-btn{
  margin-bottom: 162px;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
/* Action Section  */

.action-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 116px;
}
.action-section img{
  border-radius: 45px;
  width: 400px;
}
.live-preview{
  width: 517px;
  justify-content: space-between;
  align-items: center;
  margin: 62.5px 0px;
}

.section-title{
  font-size: 42px;
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 23px;
}
.section-description{
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}

/* Productive Users Section */

.productive-section{
  max-width: 1440px;
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  margin-bottom: 137px;
}

.productive-users{
  width: 856px;
  margin: 0 auto;
  border-color: rgba(78, 71, 255, 0.1) ;
  border-radius: 24px;
  justify-content: center;
  padding: 50px 142px;
}

.productive-title{
  font-size: 32px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  margin-bottom: 40px;
}

.productive-rate{
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.productive-number{
  font-family: 'Inter';
  font-size: 80px;
  font-weight: bold;
  color: rgba(78, 71, 255, 1);
}

.productive-description{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* Users Review section  */

.users-all-review-title{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: #252432;
}

.users-review{
  display: flex;
  gap: 20px;
  
}

.users-flex{
  border: 1px solid #F2EDED;
  background-color: white;
  border-radius: 14px;
  padding: 24px;
  margin-bottom: 137px;
}

.user-details{
  display: flex;
}

.star-image{
  margin-bottom: 24px;
}

.user-title{
  margin-bottom: 24px;
}
.user-title p{
  color: rgba(30, 30, 30, 1);
  margin-top: 10px;
}
.user-title h4{
  font-size: 24px;
}

.user-details img {
  border-radius: 50%;
  margin-right: 10px;
}
.user-details h5{
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: rgba(117, 117, 117, 1) ;  
  margin-bottom: 3px;
}
.user-details p{
  font-family: sans-serif;
  font-size: 16px;
  color: rgba(179, 179, 179, 1);
}

/* Form Section  */

.forms{
  max-width: 1440px;
}

.form-section{
  display: flex;
  align-items: center;
  gap: 318px;

}

.form-title{
  font-size: 97px;
  font-weight: bold;
  color: black;
  width: 528px;
  margin: 200px 115px 200px 0px;

}


.form-section [type="text"], .form-section [type="email"], .form-section textarea {
  display: block;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px 32px;
  border-radius: 10px;
  border: 1px solid #D6DDED;
  width: 100%;
  background-color: white;
  margin: 10px 0 19px 0px;
}

.form-section label{
  font-size: 18px;
  font-weight: 500;
  font-family: Inter;
}

.form-button{
  display: block;
  font-size: 20px;
  padding: 20px 100px;
  border-radius: 10px;
  width: 117%;
  margin: 10px 50 19px 0px;
}

/* Footer Section  */

footer{
  background-image: #252432;
  background-color:  #252432;
}
.footer{
  display: block;
  align-items: center;
  text-align: center;
  width: 531px;
  margin: 0 auto;
  padding: 105px 450px;
  background-color: #252432;

}

.footer h1{
  font-size: 100px;
  font-weight: 900;
  color: #4E47FF;
  font-family: Inter;
  cursor: pointer;
}

.footer p{
  color: #8987A1;
}

.nav-footer ul {
  display: flex;
  gap: 48px;
  margin-top: 20px;
  justify-content: center;
}

.nav-footer li{
  list-style: none;
}
.nav-footer li a{
  text-decoration: none;
  color: #8987A1;
}

