*{
  margin: 0;
  padding: 0;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.header{
  background-image: url(Assets/Hero-bg.png);
}
/* Nav Section Style  */

nav{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
  align-items: center;
  text-align: center;
}

nav ul li{
  list-style: none;
  margin-top: 50px;
}

.nav-title{
  font-size: 34px;
  font-weight: 900;
  color: #4E47FF;
  margin-top: 50px;
}

/* Share Styles  */

.btn-primary{
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
  background-color: #4E47FF;
  border: none;
  cursor: pointer;
}


/* Banner Style  */

.banner{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 160px 270px 160px 300px;
}

.banner-title{
  max-width: 60%;
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  margin: 0px auto 37px;
}

.banner-btn{
  margin-bottom: 162px;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
/* Action Section  */

.action-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 116px;
}
.action-section img{
  border-radius: 45px;
  width: 400px;
}
.live-preview{
  width: 517px;
  justify-content: space-between;
  align-items: center;
  margin: 62.5px 0px;
}

.section-title{
  font-size: 42px;
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 23px;
}
.section-description{
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}

/* Productive Users Section */

.productive-section{
  max-width: 1440px;
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  margin-bottom: 137px;
}

.productive-users{
  width: 856px;
  margin: 0 auto;
  border-color: rgba(78, 71, 255, 0.1) ;
  border-radius: 24px;
  justify-content: center;
  padding: 50px 142px;
}

.productive-title{
  font-size: 32px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  margin-bottom: 40px;
}

.productive-rate{
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.productive-number{
  font-family: 'Inter';
  font-size: 80px;
  font-weight: bold;
  color: rgba(78, 71, 255, 1);
}

.productive-description{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}






